.filters-container {
    background-color: red;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    border: none;
    outline: none;
    padding: 0px 10px;
    min-height: 50px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 30px;
}

.filter-type{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-origin{
    background-color: green;
}