/* .select-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

/* .filter-type{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */